body {
	font: 12px/1.6em "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 'Open Sans', sans-serif;
	min-width: 1024px;
	}

.portfolio-single-slider {
	width:990px;
	margin-top:20px;
	}
.page-header {
	border-bottom:1px dashed #CCC; 
	}
.center-headline {
	text-align: center; 
	background: url('assets/images/gotop.png') repeat-x 0 50%;
	line-height: 100px;
}
.center-headline h4 {
	display: inline;
	background-color: white;
	padding: 20px;
}

.logo-gallery .wp-post-image {
	box-shadow: 0 0px 0px rgba(0, 0, 0, .30);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, .30);
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .30);
	color: #ffffff;
}

.portfolio-item .wp-post-image {
	border-radius: 5px;
}

.portfolio-sortable a{
	font-weight: bold;
	background: none;
	color: #003e71;
}

.portfolio-sortable a:hover{
	color: #2ba0ba;
}

.portfolio-sortable a:first-child {
	border-left: none;
	/*border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;*/
}

.portfolio-sortable a:last-child {
	/*border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;*/
}

.portfolio-sortable a.active{
	background: none #003d6c;
	color: white;
}

.nivo-imageLink, .portfolio-single-slider, .nivo-slice {
	border-radius: 7px;
}

.portfolio-post-slider {
	margin-bottom: -25px;
}


.post .post-content p.portfolio-meta-title {
	margin-bottom: 0px;
}

.post .post-content {
padding-top: 20px;
}

br {
	display: none;
}

#header-menu ul.drop-menu li a{
	text-shadow: 1px 1px 0px #000000;
}

.portfolio-list-2 li .post-excerpt {
min-height: 80px;
}