.ddsmoothmenu ul { z-index: 200; }

.ddsmoothmenu ul li { position: relative;  }

.ddsmoothmenu ul li ul {
	position: absolute;
	left: 0;
	display: none;
	visibility: hidden; }

.ddsmoothmenu ul li ul li { float: none; }

.ddsmoothmenu ul li ul li ul { top: 0; }

.ddsmoothmenu ul li ul li a { width: 170px; }

.downarrowclass,
.rightarrowclass {
	display: block;
	position: absolute;}

.downarrowclass {
	top: 17px;
	right: 5px;
	width: 5px;
	height: 4px; }

.rightarrowclass {
	top: 13px;
	right: 15px;
	width: 4px;
	height: 5px; }