/*-------------------------------------
   POST CONTENT
-------------------------------------*/
.post .post-meta {
	font-style: italic;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.post .read-more {
	font-weight: bold;
	}

.post .post-meta span {
	padding: 0 5px;
	}

.post .post-content {
	padding-top: 50px; 
	}

.post-single .post-content {
	padding-top: 25px; 
	}

.post .post-content h1,
.post .post-content h2,
.post .post-content h3,
.post .post-content h4,
.post .post-content h5,
.post .post-content h6 {
	margin-bottom: 20px;
	}

.post .post-content h1{
	font-size: 32px;
	line-height: 36px;
	}

.post .post-content h2 {
	font-size: 26px;
	line-height: 32px;
	}

.post .post-content h3 {
	font-size: 22px;
	line-height: 28px;
	}

.post .post-content h4 {
	font-size: 18px;
	line-height: 24px;
	}

.post .post-content h5 {
	font-size: 16px;
	line-height: 22px;
	}

.post .post-content h6 {
	font-size: 14px;
	line-height: 18px;
	}

.post .post-content p {
	margin-bottom: 20px;
	}
	
.post .post-content ul {
	list-style: circle;
	}
	
.post .post-content ol {
	list-style: decimal;
	}
	
.post .post-content ol ol {
	list-style: upper-alpha;
	}
	
.post .post-content ol ol ol {
	list-style: lower-roman;
	}
	
.post .post-content ol ol ol ol {
	list-style: lower-alpha;
	}
	
.post .post-content ul ul,
.post .post-content ol ol,
.post .post-content ul ol,
.post .post-content ol ul {
	margin-bottom: 0;
	margin-left: 20px;
	}

.post .post-content ul,
.post .post-content ol,
.post .post-content ul ul,
.post .post-content ol ol,
.post .post-content ul ol,
.post .post-content ol ul {
	list-style-position: inside;
	}
		
.post .post-content dl {
	margin: 0 0 24px 0;
	}
	
.post .post-content dt {
	font-weight: bold;
	}
	
.post .post-content dd {
	margin-bottom: 20px;
	}

.post .post-content blockquote {
	padding-left: 50px;
	background: url(../images/quotes.png) no-repeat 0 0;
	font-style: italic;
	font-size: 14px;
	}

.post .post-content pre,
.post .post-content code {
	line-height: 22px;
	padding: 22px 20px;
	margin-bottom: 30px;
	background: url(../images/pre.png);
	border: 1px solid #E1E1E1;
	}

.post .post-content pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	}

.post .post-content code {
	display: block;
	}

.post .post-content img.alignleft { 
	float:left; 
	text-align:left; 
	margin-right:20px;
	}

.post .post-content img.alignright { 
	float:right; 
	text-align:right; 
	margin-left:20px;
	}

.post .post-content img.aligncenter { 
	margin: 0 auto; 
	display: block;
	}

.post .edit-link {
	margin-top: 15px;
	}

.gallery { 
	margin: 0 auto;
	}

.gallery-item { 
	float: left; 
	margin: 5px 30px 10px 0;
	}

.gallery-icon,
.wp-caption img {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .20);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .20);
	}

.gallery-caption {
	text-align: center;
	margin: 5px 0;
	}

.wp-caption { 
	text-align: center; 
	padding: 0px  10px;
	}

.wp-caption img {
	padding: 0;
	margin: 0;
	}

.wp-caption-text { 
	color: #333333;
	margin: 0;
	padding-top: 10px;
	}
	
.sticky,
.gallery-caption,
.bypostauthor {
	margin: inherit;
	}

.post .post-content table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	text-align: left; 
	}

.post .post-content table thead {
	font-size: 14px;
	font-weight: bold;
	background: url(../images/table-head.png) repeat-x 0 100%;
	}

.post .post-content table th {
	padding: 15px 10px;
	text-align: left;
	}

.post .post-content table td {
	padding: 8px 10px;
	border-bottom: 1px solid #FFFFFF;
	background: url(../images/table-body.png);
	}