/*---------------------------------------------------------------
SHORTCODES TABLE OF CONTENTS

	0. COLUMNS
	1. BASIC
	 - 1.1 HR
	 - 1.2 BR
	 - 1.3 HIGHLIGHT
	 - 1.4 TESTIMONIALS
	 - 1.5 DROPCAP
	 - 1.6 QUOTE
	 - 1.7 GOTOP
	 - 1.8 CODE
	 2. BUTTON
	 - 2.1 BUTTON COMMON
	 - 2.2 BUTTON COLORS
	 3. MESSAGE BOX
	 4. ICON BOX
	 5. ICON LIST
	 6. IMAGE
	 7. TAB
	 8. TOGGLE
	 9. PRICING TABLE
	10. GALLERY LIST
	11. BLOG LISTS
	12. PORTFOLIO LIST
	13. WIDGET POST
	
-----------------------------------------------------------------*/

/*-------------------------------------
   0. COLUMNS
-------------------------------------*/
.col-2-1,
.col-3-1,
.col-4-1,
.col-4-2,
.col-5-1,
.col-3-2,
.col-4-3,
.col-5-2,
.col-5-3,
.col-5-4{
	float: left;
	}

.col-2-1 {
	width: 46.9696%;
	margin-right: 6.0606%;
	}

.col-3-1 {
	width: 31.3131%;
	margin-right: 3.0303%;
	}

.col-4-1 {
	width: 22.7272%;
	margin-right: 3.0303%;
	}

.col-5-1 {
	width: 17.5757%;
	margin-right: 3.0303%;
	}

.col-3-2 {
	width: 65.6565%;
	margin-right: 3.0303%;
	}

.col-4-2 {
	width: 48.4848%;
	margin-right: 3.0303%;
	}

.col-4-3 {
	width: 74.2424%;
	margin-right: 3.0303%;
	}

.col-5-2 {
	width: 38.1818%;
	margin-right: 3.0303%;
	}

.col-5-3 {
	width: 58.7878%;
	margin-right: 3.0303%;
	}

.col-5-4 {
	width: 79.3939%;
	margin-right: 3.0303%;
	}

.last { 
	margin-right: 0;
	}


/*-------------------------------------
   1. BASIC
-------------------------------------*/

/*1.1 HR*/
.hr { 
	height: 5px; 
	font-size: 0; 
	background: url(../images/linebg.png) repeat-x 0 50%;
	}

/*1.2 BR*/
.br { 
	font-size: 0; 
	}

/*1.3 HIGHLIGHT*/
.highlight { 
	padding: 3px 10px; 
	}

/*1.4 TESTIMONIALS*/
.testimonials .text {
	padding-left: 50px;
	background: url(../images/quotes.png) no-repeat 0 0;
	font-style: italic;
	font-size: 14px;
	}

.testimonials h3.name {
	margin-bottom: 5px;
	font-size: 16px;
	text-align: right;
	}

.testimonials .desc {
	text-align: right;
	}

/*1.5 DROPCAP*/
.dropcap {
	float: left;
	padding: 10px 10px 0 0;
	}

/*1.6 QUOTE*/
.quote {
	padding-left: 50px;
	background: url(../images/quotes.png) no-repeat 0 0;
	font-style: italic;
	font-size: 14px;
	}

/*1.7 GOTOP*/
.gotop {
	height: 20px;
	line-height: 20px;
	background: url(../images/gotop.png) repeat-x 0 50%;
	}

.gotop a { 
	display: block; 
	height: 20px;
	line-height: 20px;
	width: 50px;
	margin: 0 auto; 
	text-indent: -999em;
	}

/*1.8 CODE*/
.code div {
	line-height: 22px;
	padding: 22px 20px;
	margin-bottom: 30px;
	background: url(../images/pre.png);
	}

/*-------------------------------------
   2. BUTTON
-------------------------------------*/

/*2.1 BUTTON COMMON*/
.button-wrap {
	float: left;
	margin-right: 10px; 
	}

.button-small,
.button-medium,
.button-large { 
	background-position: 0 0; 
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}

.button-small:hover,
.button-medium:hover,
.button-large:hover { 
	background-position: 0 100%; 
	}

.button-small,
.button-medium,
.button-large,
.button-small:hover,
.button-medium:hover,
.button-large:hover {
	display: block;
	background-repeat: repeat-x;
	color: #FFFFFF; 
	}

.button-small {
	height: 20px;
	line-height: 20px;
	padding: 0 20px;
	font-size: 12px; 
	}

.button-medium {
	height: 26px;
	line-height: 26px;
	padding: 0 30px;
	font-size: 14px; 
	}

.button-large {
	height: 46px;
	line-height: 46px;
	padding: 0 40px;
	font-size: 24px; 
	}

/*2.2 GREY BUTTON*/
.button-grey {
	border: 1px solid #C5C5C5;
	background-color: #E8E8E8;
	color: #666666; 
	}

.button-grey:hover {
	border: 1px solid #ADADAD;
	background-color: #C5C5C5;
	color: #333333; 
	}

.button-small-grey { 
	background-image: url(../images/shortcode/button-small-grey.png); 
	}

.button-medium-grey { 
	background-image: url(../images/shortcode/button-medium-grey.png); 
	}

.button-large-grey { 
	background-image: url(../images/shortcode/button-large-grey.png); 
	}

/*2.3 COFFEE BUTTON*/
.button-coffee {
	border: 1px solid #3F3331;
	background-color: #564845;
	}

.button-coffee:hover {
	border: 1px solid #2F2524;
	background-color: #483936;
	}

.button-small-coffee { 
	background-image: url(../images/shortcode/button-small-coffee.png); 
	}

.button-medium-coffee { 
	background-image: url(../images/shortcode/button-medium-coffee.png); 
	}

.button-large-coffee { 
	background-image: url(../images/shortcode/button-large-coffee.png); 
	}

/*2.4 GREEN BUTTON*/
.button-green {
	border: 1px solid #69865C;
	background-color: #8BAA67;
	}

.button-green:hover {
	border: 1px solid #456E40;
	background-color: #6C8A48;
	}

.button-small-green { 
	background-image: url(../images/shortcode/button-small-green.png); 
	}

.button-medium-green { 
	background-image: url(../images/shortcode/button-medium-green.png);
	}

.button-large-green { 
	background-image: url(../images/shortcode/button-large-green.png); 
	}

/*2.5 DEEPBLUE BUTTON*/
.button-deepblue {
	border: 1px solid #394654;
	background-color: #485C72;
	}

.button-deepblue:hover {
	border: 1px solid #25313E;
	background-color: #394D62;
	}

.button-small-deepblue { 
	background-image: url(../images/shortcode/button-small-deepblue.png); 
	}

.button-medium-deepblue { 
	background-image: url(../images/shortcode/button-medium-deepblue.png); 
	}

.button-large-deepblue { 
	background-image: url(../images/shortcode/button-large-deepblue.png); 
	}

/*2.6 BLACK BUTTON*/
.button-black {
	border: 1px solid #424242;
	background-color: #545454;
	}

.button-black:hover {
	border: 1px solid #222222;
	background-color: #363636;
	}

.button-small-black { 
	background-image: url(../images/shortcode/button-small-black.png); 
	}

.button-medium-black { 
	background-image: url(../images/shortcode/button-medium-black.png);
	}

.button-large-black { 
	background-image: url(../images/shortcode/button-large-black.png); 
	}

/*2.7 RED BUTTON*/
.button-red {
	border: 1px solid #5E0B08;
	background-color: #841511;
	}

.button-red:hover {
	border: 1px solid #4A0907;
	background-color: #363636;
	}

.button-small-red { 
	background-image: url(../images/shortcode/button-small-red.png); 
	}

.button-medium-red { 
	background-image: url(../images/shortcode/button-medium-red.png); 
	}

.button-large-red { 
	background-image: url(../images/shortcode/button-large-red.png);
	}


/*2.8 ROYALBLUE BUTTON*/
.button-royalblue {
	border: 1px solid #285054;
	background-color: #068700;
	}

.button-royalblue:hover {
	border: 1px solid #0E4446;
	background-color: #065C56;
	}

.button-small-royalblue { 
	background-image: url(../images/shortcode/button-small-royalblue.png); 
	}

.button-medium-royalblue { 
	background-image: url(../images/shortcode/button-medium-royalblue.png); 
	}

.button-large-royalblue { 
	background-image: url(../images/shortcode/button-large-royalblue.png); 
	}


/*2.8 ORANGE BUTTON*/
.button-orange {
	border: 1px solid #AE3F0C;
	background-color: #D5540A;
	}

.button-orange:hover {
	border: 1px solid #9C2806;
	background-color: #C93A06;
	}

.button-small-orange { 
	background-image: url(../images/shortcode/button-small-orange.png); 
	}

.button-medium-orange { 
	background-image: url(../images/shortcode/button-medium-orange.png); 
	}

.button-large-orange { 
	background-image: url(../images/shortcode/button-large-orange.png);
	}

/*2.8 PURPLE BUTTON*/
.button-purple {
	border: 1px solid #544859;
	background-color: #705F78;
	}

.button-purple:hover {
	border: 1px solid #423547;
	background-color: #615068;
	}

.button-small-purple { 
	background-image: url(../images/shortcode/button-small-purple.png); 
	}

.button-medium-purple { 
	background-image: url(../images/shortcode/button-medium-purple.png);
	}

.button-large-purple {
	background-image: url(../images/shortcode/button-large-purple.png); 
	}


/*2.9 DARKPURPLE BUTTON*/
.button-darkpurple {
	border: 1px solid #6B4A56;
	background-color: #885A6B;
	}

.button-darkpurple:hover {
	border: 1px solid #51353F;
	background-color: #714757;
	}

.button-small-darkpurple { 
	background-image: url(../images/shortcode/button-small-darkpurple.png); 
	}

.button-medium-darkpurple { 
	background-image: url(../images/shortcode/button-medium-darkpurple.png); 
	}

.button-large-darkpurple { 
	background-image: url(../images/shortcode/button-large-darkpurple.png); 
	}


/*-------------------------------------
   3. MESSAGE BOX
-------------------------------------*/
.message-box {
	position: relative;
	font-size: 14px; 
	}

.message-box div {
	padding: 15px 30px; 
	}

.message-box div.icon {
	padding-left: 80px;
	background-repeat: no-repeat;
	background-position: 25px 18px; 
	}

.message-box div.hide-padding {
	padding-right: 90px;
	} 

.message-box .closebox {
	position: absolute;
	right: 30px;
	top: 15px;
	font-size: 11px;
	text-decoration: underline;
	cursor: pointer; 
	}

.message-box-note {
	background-color: #D3E9FF;
	border: 1px solid #BBDDFF;
	color: #467EB5; 
	}

.message-box-note div.icon { 
	background-image: url(../images/shortcode/messagebox-note.png);
	}

.message-box-info {
	background-color: #E3FFCD;
	border: 1px solid #A3C159;
	color: #5E6F33;
	}

.message-box-info div.icon { 
	background-image: url(../images/shortcode/messagebox-info.png); 
	}

.message-box-alert {
	background-color: #FFF0BC;
	border: 1px solid #D3BC6F;
	color: #9E660D; 
	}

.message-box-alert div.icon { 
	background-image: url(../images/shortcode/messagebox-alert.png);
	}

.message-box-error {
	background-color: #FFC7C2;
	border: 1px solid #FF8C80;
	color: #A22121;
	}

.message-box-error div.icon { 
	background-image: url(../images/shortcode/messagebox-error.png); 
	}

.message-box-success {
	background-color: #D9ECFF;
	border: 1px solid #A0D0FF;
	color: #2B4B5C; 
	}

.message-box-success div.icon { 
	background-image: url(../images/shortcode/messagebox-success.png); 
	}


/*-------------------------------------
   4. ICON BOX
-------------------------------------*/
.iconbox .iconbox-img {
	float: left;
	width: 40px;
	text-align: center;
	}

.iconbox .iconbox-content {
	margin-left: 50px;
	}

.iconbox h5.iconbox-title {
	margin-bottom: 10px;
	font-size: 14px;
	}

/*-------------------------------------
   5. ICON LIST
-------------------------------------*/
.iconlist ul li {
	list-style: none;
	background-repeat: no-repeat;
	background-position: 0 10px;
	padding: 8px 0 8px 25px;
	}

.iconlist-download ul li {
	background-image: url(../images/shortcode/iconlist/download.png);
	}

.iconlist-arrow ul li {
	background-image: url(../images/shortcode/iconlist/arrow.png);
	}

.iconlist-check ul li {
	background-image: url(../images/shortcode/iconlist/check.png);
	}


.iconlist-favicon ul li {
	background-image: url(../images/shortcode/iconlist/favicon.png);
	}

.iconlist-image ul li {
	background-image: url(../images/shortcode/iconlist/image.png);
	}

.iconlist-light ul li {
	background-image: url(../images/shortcode/iconlist/light.png);
	}

.iconlist-love ul li {
	background-image: url(../images/shortcode/iconlist/love.png);
	}

.iconlist-people ul li {
	background-image: url(../images/shortcode/iconlist/people.png);
	}

.iconlist-settings ul li {
	background-image: url(../images/shortcode/iconlist/settings.png);
	}

.iconlist-time ul li {
	background-image: url(../images/shortcode/iconlist/time.png);
	}


/*-------------------------------------
   6.IMAGE SHORTCODE
-------------------------------------*/
.image-wrap-left {
	float: left;
	}

.image-wrap-right {
	float: right;
	}

.image-wrap-center {
	margin: 0 auto;
	display: block; 
	}


/*-------------------------------------
   7. TABBED
-------------------------------------*/
.tabcontainer {
	position: relative;
	height: 100%;
	overflow: hidden; 
	}

.tab_content{
	display: none;
	clear: both;
	padding: 20px 20px 0;
	overflow:auto;
	position: relative;
	background: #fff;
	border:1px solid #E1E1E1;
	}

.tab{
	cursor:pointer;
	margin:0 2px 0 0;
	padding:3px 10px 5px;
	display: block;
	float: left;
	z-index: 2;
	position: relative;
	top:1px;
	background:#f8f8f8;
	border:1px solid #E1E1E1;
	border-bottom: none;
	}

.active_tab{
	z-index: 4;
	position: relative;
	border-bottom: none;
	background:none repeat scroll 0 0 #fff;
	color:#555555;
	}

.active_tab_content{
	display: block;
	z-index: 3;
	position: relative;
	overflow:auto;
	}


/*-------------------------------------
   8. TOGGLE
-------------------------------------*/
.toggle_wrap{
	display:none;
	}

.active_toggle_wrap{
	display:block;
	}

.toggler {
	cursor: pointer;
	display: block;
	margin: -1px 0;
	padding: 3px 3px 5px 30px;
	position: relative;
	top: 1px;
	}

.togglecontainer{
	padding:10px 0;
	}

.toggle_content{
	padding: 20px 30px 0;
	margin:0 0 5px 0;
	border: 1px solid #E1E1E1;
	}

.toggler{
	background:url(../images/shortcode/toggle.png) no-repeat scroll 6px 6px #FFFFFF;
	border:1px solid #E1E1E1;
	}

.activeTitle{
	background: #f8f8f8 url(../images/shortcode/toggle.png) no-repeat 6px -77px ; 
	border:1px solid #ddd;
	color:#555555;
	}


/*-------------------------------------
   9. PRICING
-------------------------------------*/
.pricing-table .pricing-column {
	float: left;
	background: #E5E5E5;
	}

.pricing-table .pricing-column-icon {
	text-align: center;
	padding: 30px 0;
	}

.pricing-table h5.pricing-column-title {
	text-align: center;
	padding: 15px 0;
	margin-bottom: 0;
	border-bottom: 3px solid #B5B5B5;
	}

.pricing-table .pricing-column-meta {
	background: #B5B5B5;
	padding: 15px 10px;
	}

.pricing-table .pricing-column-meta .cost {
	float: left;
	font-size: 16px;
	padding-top: 5px;
	color: #202020;
	}

.pricing-table .pricing-column-meta .cost  span {
	font-size: 11px;
	text-transform: uppercase;
	}

.pricing-table .pricing-column-meta .button-wrap {
	float: right;
	margin-right: 0; 
	}

.pricing-table .pricing-column-meta .button-medium {
	padding: 0 10px;
	font-size: 13px; 
	}

.pricing-table ul {
	padding: 10px 20px;
	}

.pricing-table ul li {
	list-style: none;
	padding-top: 8px;
	padding-bottom: 8px;
	}

.pricing-table-col-2 .pricing-column {
	width: 46.9696%;
	margin-right: 6.0606%;
	}

.pricing-table-col-3 .pricing-column {
	width: 31.3131%;
	margin-right: 3.0303%;
	}

.pricing-table-col-4 .pricing-column {
	width: 22.7272%;
	margin-right: 3.0303%;
	}

.pricing-table-col-5 .pricing-column {
	width: 17.5757%;
	margin-right: 3.0303%;
	}

.pricing-table .last {
	margin-right: 0;
	}


/*-------------------------------------
   10. GALLERY LIST
-------------------------------------*/
.gallery-col-2 li {
	width: 46.9696%;
	margin-top: 6.0606%;
	margin-right: 6.0606%;
	}

.gallery-col-3 li {
	width: 31.3131%;
	margin-top: 3.0303%;
	margin-right: 3.0303%;
	}

.gallery-col-4 li {
	width: 22.7272%;
	margin-top: 3.0303%;
	margin-right: 3.0303%;
	}

.gallery-col-5 li {
	width: 17.5757%;
	margin-top: 3.0303%;
	margin-right: 3.0303%;
	}

.gallery-col-2 li:nth-child(1),
.gallery-col-2 li:nth-child(2),
.gallery-col-3 li:nth-child(1),
.gallery-col-3 li:nth-child(2),
.gallery-col-3 li:nth-child(3),
.gallery-col-4 li:nth-child(1),
.gallery-col-4 li:nth-child(2),
.gallery-col-4 li:nth-child(3),
.gallery-col-4 li:nth-child(4),
.gallery-col-5 li:nth-child(1),
.gallery-col-5 li:nth-child(2),
.gallery-col-5 li:nth-child(3),
.gallery-col-5 li:nth-child(4),
.gallery-col-5 li:nth-child(5) {
	margin-top: 0;
	}

.gallery-lists li {
	float: left;
	list-style: none;
	}

.gallery-lists li.last {
	margin-right: 0;
	}


/*-------------------------------------
   11. BLOG LISTS
-------------------------------------*/

/*BLOG LIST ONE*/
.blog-lists-one li {
	float: left;
	width: 22.7272%;
	margin-right: 3.0303%;
	list-style: none;
	}

.blog-lists-one li.last {
	margin-right: 0;
	}

.blog-lists-one-item h2.title,
.blog-lists-one-item p.post-meta,
.blog-lists-one-item p.post-excerpt {
	margin-bottom: 0;
	}

.blog-lists-one-item h2.title {
	font-size: 14px;
	margin-top: 15px;
	}

.blog-lists-one-item p.post-meta {
	font-size: 11px;
	}

.blog-lists-one-item p.post-meta,
.blog-lists-one-item p.post-excerpt {
	margin-top: 10px;
	}


/*BLOG LIST TWO*/
.blog-lists-two li {
	float: left;
	list-style: none;
	}

.blog-lists-two-item h2.title,
.blog-lists-two-item p.post-meta,
.blog-lists-two-item p.post-excerpt,
.blog-lists-two-item p.read-more {
	margin-bottom: 0;
	}

.blog-lists-two-item p.post-meta,
.blog-lists-two-item p.post-excerpt,
.blog-lists-two-item p.read-more {
	margin-top: 10px;
	}

.blog-lists-two-item h2.title {
	margin-top: 15px;
	}

.blog-lists-two-item p.post-meta {
	font-size: 11px;
	}

.blog-lists-two-2 li {
	width: 46.9696%;
	margin-top: 6.0606%;
	margin-right: 6.0606%;
	}

.blog-lists-two-2 h2.title {
	font-size: 18px;
	}

.blog-lists-two-3 li {
	width: 31.3131%;
	margin-top: 3.0303%;
	margin-right: 3.0303%;
	}

.blog-lists-two-3 h2.title {
	font-size: 16px;
	}

.blog-lists-two-4 li  {
	width: 22.7272%;
	margin-top: 3.0303%;
	margin-right: 3.0303%;
	}

.blog-lists-two-4 h2.title {
	font-size: 14px;
	}

.blog-lists-two-5 li {
	width: 17.5757%;
	margin-top: 3.0303%;
	margin-right: 3.0303%;
	}

.blog-lists-two-5 h2.title {
	font-size: 12px;
	}

.blog-lists-two-2 li:nth-child(1),
.blog-lists-two-2 li:nth-child(2),
.blog-lists-two-3 li:nth-child(1),
.blog-lists-two-3 li:nth-child(2),
.blog-lists-two-3 li:nth-child(3),
.blog-lists-two-4 li:nth-child(1),
.blog-lists-two-4 li:nth-child(2),
.blog-lists-two-4 li:nth-child(3),
.blog-lists-two-4 li:nth-child(4),
.blog-lists-two-5 li:nth-child(1),
.blog-lists-two-5 li:nth-child(2),
.blog-lists-two-5 li:nth-child(3),
.blog-lists-two-5 li:nth-child(4),
.blog-lists-two-5 li:nth-child(5) {
	margin-top: 0;
	}

.blog-lists-two li.last {
	margin-right: 0;
	}


/*-------------------------------------
   12. PORTFOLIO LISTS
-------------------------------------*/
/*PORTFOLIO LIST ONE*/
.portfolio-lists-sc-one li {
	float: left;
	width: 22.7272%;
	margin-right: 3.0303%;
	list-style: none;
	}

.portfolio-lists-sc-one li.last {
	margin-right: 0;
	}

.portfolio-lists-sc-one-item h2.title,
.portfolio-lists-sc-one-item p.post-meta,
.portfolio-lists-sc-one-item p.post-excerpt {
	margin-bottom: 0;
	}

.portfolio-lists-sc-one-item h2.title {
	font-size: 14px;
	margin-top: 15px;
	}

.portfolio-lists-sc-one-item p.post-meta {
	font-size: 11px;
	}

.portfolio-lists-sc-one-item p.post-meta,
.portfolio-lists-sc-one-item p.post-excerpt {
	margin-top: 10px;
	}



/*PORTFOLIO LIST TWO*/
.portfolio-lists-sc-two li {
	float: left;
	list-style: none;
	}

.portfolio-lists-sc-two-item h2.title,
.portfolio-lists-sc-two-item p.post-excerpt,
.portfolio-lists-sc-two-item p.read-more {
	margin-bottom: 0;
	}

.portfolio-lists-sc-two-item p.post-excerpt,
.portfolio-lists-sc-two-item p.read-more {
	margin-top: 10px;
	}

.portfolio-lists-sc-two-item h2.title {
	margin-top: 15px;
	}

.portfolio-lists-sc-two-2 li {
	width: 46.9696%;
	margin-top: 6.0606%;
	margin-right: 6.0606%;
	}

.portfolio-lists-sc-two-2 h2.title {
	font-size: 18px;
	}

.portfolio-lists-sc-two-3 li {
	width: 31.3131%;
	margin-top: 3.0303%;
	margin-right: 3.0303%;
	}

.portfolio-lists-sc-two-3 h2.title {
	font-size: 16px;
	}

.portfolio-lists-sc-two-4 li  {
	width: 22.7272%;
	margin-top: 3.0303%;
	margin-right: 3.0303%;
	}

.portfolio-lists-sc-two-4 h2.title {
	font-size: 14px;
	}

.portfolio-lists-sc-two-5 li {
	width: 17.5757%;
	margin-top: 3.0303%;
	margin-right: 3.0303%;
	}

.portfolio-lists-sc-two-5 h2.title {
	font-size: 12px;
	}

.portfolio-lists-sc-two-2 li:nth-child(1),
.portfolio-lists-sc-two-2 li:nth-child(2),
.portfolio-lists-sc-two-3 li:nth-child(1),
.portfolio-lists-sc-two-3 li:nth-child(2),
.portfolio-lists-sc-two-3 li:nth-child(3),
.portfolio-lists-sc-two-4 li:nth-child(1),
.portfolio-lists-sc-two-4 li:nth-child(2),
.portfolio-lists-sc-two-4 li:nth-child(3),
.portfolio-lists-sc-two-4 li:nth-child(4),
.portfolio-lists-sc-two-5 li:nth-child(1),
.portfolio-lists-sc-two-5 li:nth-child(2),
.portfolio-lists-sc-two-5 li:nth-child(3),
.portfolio-lists-sc-two-5 li:nth-child(4),
.portfolio-lists-sc-two-5 li:nth-child(5) {
	margin-top: 0;
	}

.portfolio-lists-sc-two li.last {
	margin-right: 0;
	}


/*-------------------------------------
   13. WIDGET POST
-------------------------------------*/
.widget-sc li {
	list-style-type: none;
	list-style-position: outside;
	padding: 20px 0;
	background: url(../images/linebg.png) repeat-x 0 100%;
	}

.widget-sc li .title {
	font-weight: bold;

	}

.widget-sc li p.meta {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	}

.widget-sc li p.meta span {
	padding-right:10px;
	}

.widget-sc li:nth-child(1) {
	padding-top: 0;
	}

.widget-sc li:last-child {
	padding-bottom: 0;
	background: none;
	}