/*---------------------------------------------------------------
WIDGETS TABLE OF CONTENTS

	0. COMMON
	1. SIDEBAR WIDGETS
	2. FOOTER WIDGETS
	
-----------------------------------------------------------------*/

/*-------------------------------------
   0. COMMON
-------------------------------------*/
.widget { 
	margin-top: 50px;
	}

.widget h3 {
	font-size: 16px;
	margin-bottom: 10px;
	}

.widget li {
	padding: 10px 0;
	background: url(../images/linebg.png) repeat-x 0 100%;
	}

.widget li:last-child {
	background: none;
	padding-bottom: 0;
	}

.widget_categories ul li ul,
.widget_pages ul li ul,
.widget_nav_menu ul li ul {
	padding: 0;
	margin: 0;
	}

.widget_text .textwidget {
padding-top:10px;
}

.widget-mostview-posts figure,
.widget-random-posts figure,
.widget-recent-posts figure {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 90px;
	height: 60px;
	}

.widget-comments figure {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 64px;
	height: 64px;
	}

.widget-mostview-posts section .title,
.widget-random-posts section .title,
.widget-recent-posts section .title,
.widget-comments section .title {
	font-weight: bold;
	}

.widget-mostview-posts section p,
.widget-random-posts section p,
.widget-recent-posts section p,
.widget-comments section p {
	padding-top: 5px;
	font-size: 11px;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	}

.widget-mostview-posts section p span,
.widget-random-posts section p span,
.widget-recent-posts section p span {
	padding-right:10px;
	}

.widget-flickr h3 {
	margin-bottom: 15px;
	}

.widget-flickr h3 span {
	font-size: 12px;
	padding-left: 20px;
	}

.flickr_badge_image {
	float: left;
	margin: 10px 10px 0 0;
	}

.flickr_badge_image img {
	width: 68px;
	height: 68px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .20);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .20);
	}

.widget-ads li {
	float: left;
	width: 125px;
	height: 125px;
	padding: 0;
	margin: 15px 15px 0 0;
	background: none;
	}

.widget-gallery-posts li {
	float: left;
	width: 90px;
	height: 60px;
	padding: 0;
	margin: 15px 15px 0 0;
	background: none;
}

.widget_tag_cloud .tagcloud{
	padding-top: 15px;
	height: 100%;
	overflow: hidden;
	}

.widget_tag_cloud a {
	float: left;
	display: block;
	padding: 5px 0;
	margin: 0 10px 10px 0;
	}

.widget-social-media a {
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	margin: 0 5px 5px 0;
	background-image: url(../images/media-icons.png);
	background-repeat: no-repeat;
	text-indent: -999em;
	}

.social-media-box {
	padding-top: 15px;
	}

.widget-social-media .rss {
	background-position: 0 0;
	}

.widget-social-media .twitter {
	background-position: -22px 0;
	}

.widget-social-media .youtube {
	background-position: -44px 0;
	}

.widget-social-media .linkedin {
	background-position: -66px 0;
	}

.widget-social-media .facebook {
	background-position: -88px 0;
	}

.widget-social-media .digg {
	background-position: -110px 0;
	}

.widget-social-media .flickr {
	background-position: -132px 0;
	}

.widget-social-media .delicious {
	background-position: -154px 0;
	}

.widget-social-media .stumble {
	background-position: -176px 0;
	}

.widget-social-media .myspace {
	background-position: -198px 0;
	}

.widget-search .searchbox{
	height: 45px;
	background: url(../images/widget-search.png) no-repeat 0 0;
	}

.widget-search .searchbox input[type="text"] {
	margin-top: 6px;
	padding: 10px 13px;
	width: 240px;
	border: none;
	background: none;
	}


.widget-search h3 {
	margin-bottom: 25px;
	}

.widget-search .searchbox input[type="submit" ] {
	width: 40px;
	padding: 5px 0;
	border: none;
	background: none;
	} 


/*-------------------------------------
   1. SIDEBAR WIDGETS
-------------------------------------*/
#sidebar .widget-gallery-posts ul {
	width: 325px;
	margin-left: -15px;
	}

#sidebar .widget-gallery-posts li {
	margin: 15px 0 0 15px;
	}

#sidebar #flickr_badge_wrapper {
	width: 312px;
	margin-right: -2px;
	}



/*-------------------------------------
   2. FOOTER WIDGETS
-------------------------------------*/
.footer-widgets .three-column .widget-gallery-posts ul {
	width: 325px;
	margin-left: -15px;
	}

.footer-widgets .three-column .widget-gallery-posts li {
	margin: 15px 0 0 15px;
	}

.footer-widgets .two-column #flickr_badge_wrapper {
	width: 468px;
	margin-right: -3px;
	}

.footer-widgets .three-column #flickr_badge_wrapper {
	width: 312px;
	margin-right: -2px;
	}

.footer-widgets .four-column #flickr_badge_wrapper {
	width: 234px;
	margin-right: -9px;
	}

.footer-widgets .two-column .widget-search .searchbox input[type="text"] {
	width: 390px;
	}

.footer-widgets .three-column .widget-search .searchbox input[type="text"] {
	width: 239px;
	}

.footer-widgets .four-column .widget-search .searchbox input[type="text"] {
	width: 154px;
	}