// @media( min-width: 768px) {
//   .contact-item {
//     border-right:  solid 1px #b3b6c2;
//   }
// }

// .contact-item:last-of-type {
//   border: none;
// }

.contact-address-title {
  color: #0067b4;
}

.contact_banner {
  background-color: #5F9DF7;
  &:hover {
    background-color: #1746A2;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }
}
