.hero-container {
  background-size: cover;
  background-position: top;
  height: 320px;
  @media (min-width: 768px) {
    height: 400px;
  }
}

.product__hero h1 {
  font-weight: 300;
  margin-top: 5.5rem;
  @media( max-width: 768px) {
    font-size: 1.8rem;
    margin-top: 4rem;
  }
}
.product__hero h2 {
  font-weight: 200;
  @media( max-width: 768px) {
    font-size: 1.4rem;
  }
}

.product-image {
  width: 100%;
  @media( max-width: 768px) {
    max-width: 50%;
  }
}

.product-content {
  border-bottom: solid 1px #ecf0f1;
}

.product-content:last-of-type{
  border: none;
}