---
layout: default
---
<!-- Hero Section -->
{% include hero.html
  hero_title = page.hero_title
  hero_subtitle = page.hero_subtitle
  hero_background_image = page.hero_background_image
%}
<!-- Blog Section -->
<section id="main" class="wrapper style1">
  <div class="container">
    <p class="display-4">{{page.title}}</p>
    {% for e in site.blog %}
      <div class="card mb-3 w-75">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{e.image}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">{{e.date}}</p>
              <h5 class="card-title">{{e.title}}</h5>
              <a href="{{ e.post_url }}" class="btn btn-primary" target="_blank">
                {{page.read_article_button}}
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>