---
layout: default
---

<section class="text-center mb-3">
  <div class="">
    <iframe
      width="100%"
      height="500"
      id="gmap_canvas"
      src="{{site.google_maps_url}}"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"></iframe>
  </div>
</section>
<section class="container pb-3">
  <div class="row justify-content-start contact-item">
    {% for item in page.contact %}
      <div class="col-md-3 contact-item pb-3">
        <p class="fs-5 mb-2 contact-address-title">{{item.title}}</p>
        <p class="fs-6 mb-2 contact-address-title">{{item.location}}</p>
        <address class="mb-4 fw-lighter">
          {% for line in item.address %}
            <span>{{line.line}}</span><br>
          {% endfor %}
        </address>
        <div class="fw-lighter">
          <span>P: {{item.phone}}</span><br>
          <span>F: {{item.fax}}</span><br>
          <span>M: <a href="mail:{{item.mail}}">{{item.mail}}</a></span>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
<section>
  <a 
  href="{{site.contact_form_cta_link}}"
  class="d-block contact_banner text-center text-white text-decoration-none
  font-weight-light text-uppercase py-4"
  target="_blank">
    {{site.contact_form_cta}}
  </a>
</section>