---
layout: default
---
<!-- Map Section -->
<section class="text-center mb-3">
  <div class="">
    <iframe
      width="100%"
      height="500"
      id="gmap_canvas"
      src="{{site.google_maps_url}}"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0">
    </iframe>
  </div>
</section>
<!-- Address Section -->
<section class="container pb-3">
  <div class="row d-grip justify-content-md-center">
    {% for item in page.contact %}
      <div class="col-sm-6 col-md-3 text-center pb-5">
        <p class="fs-5 mb-2 blue-color">{{item.title}}</p>
        <p class="fs-6 mb-2 blue-color">{{item.location}}</p>
        <address class="mb-4 fw-lighter">
          {% for line in item.address %}
            <span>{{line.line}}</span><br>
          {% endfor %}
        </address>
        <div class="fw-lighter">
          <span>P: {{item.phone}}</span><br>
          <span>F: {{item.fax}}</span><br>
          <span>M: <a href="mail:{{item.mail}}">{{item.mail}}</a></span>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
<!-- Contact Form Section -->
<section>
  <p class="fs-2 blue-color text-center">
    {{page.contact_form_title}}
  </p>
  <a 
  href="{{page.contact_form_link}}"
  class="d-block text-center pb-5"
  target="_blank">
    <button class="btn btn-outline-primary btn-lg 
    text-uppercase fw-light custom-button">
      {{page.contact_form_button}}
    </button>
  </a>
</section>