---
layout: default
---
<!-- Hero Section -->
<section>
  <div
  class="row hero-container align-items-center mb-5"
  style="background-image: url(/img/{{page.hero_background_image}});">
    <div class="col text-center">
      <p class="display-6">
        {{page.hero_title}}
      </p>
      <p class="fs-4 fw-lighter mt-2 w-75 mx-auto">
        {{page.hero_subtitle}}
      </p>
    </div>
  </div>
</section>
<!-- Industries Section -->
<section>
  <div class="container">
    {% for product in page.industries_section %}
      <div class="text-center mt-5 w-75 mx-auto">
        <p class="fs-2 fw-normal mb-2 mb-md-4">{{product.title}}</p>
        <p class="section-subtitle">{{product.subtitle}}</p>
      </div>
      <div class="row my-3">
        <div class="col-md-8 {% if product.image_position == 'left' %} order-2 {% endif %}">
          {% for info in product.info %}
            <div class="row project-content my-3">
              <div class="col-md-2 align-self-start">
                <img src="/img/company_logos/logo_akbank.png" class="project-image img-fluid">
                <!-- <img src="/img/{{info.image}}"> -->
              </div>
              <div class="col-md-10">
                <p class="fs-4 mb-3">{{info.title}}</p>
                <p class="fw-light">{{info.content}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-4">
          <img src="/img/{{product.image}}" class="img-fluid">
        </div>
      </div>
    {% endfor %}
  </div>
</section>