---
layout: default
---
<!-- Hero Section -->
{% include hero.html
  hero_title = page.hero_title
  hero_subtitle = page.hero_subtitle
  hero_background_image = page.hero_background_image
%}
<!-- Industries Section -->
<section>
  <div class="container">
    {% for product in page.industries_section %}
      <div class="text-center mt-5 w-75 mx-auto">
        <p class="fs-2 fw-normal mb-2 mb-md-4">{{product.title}}</p>
        <p class="fw-lighter">{{product.subtitle}}</p>
      </div>
      <div class="row my-3">
        <div class="col-md-8 {% if product.image_position == 'left' %} order-2 {% endif %}">
          {% for info in product.info %}
            <div class="row project-content my-3">
              <div class="col-md-2 align-self-start">
                <img src="/img/company_logos/logo_akbank.png" class="project-image img-fluid">
                <!-- <img src="/img/{{info.image}}"> -->
              </div>
              <div class="col-md-10">
                <p class="fs-4 mb-3">{{info.title}}</p>
                <p class="fw-light">{{info.content}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-4">
          <img src="/img/{{product.image}}" class="img-fluid">
        </div>
      </div>
    {% endfor %}
  </div>
</section>